<div class="jumbotron">
  <h1>Advertising Disclosure: Pulsefirejob may be compensated in exchange for featured placement of certain sponsored products and services, or your clicking on links posted on this website.</h1>
</div>



<a href=""> <%= image_tag("computers.jpg") %> </a>
<a href=""> <%= image_tag("Consoles.jpg") %> </a>
<a href=""> <%= image_tag("Drones.jpg") %> </a>
<a href=""> <%= image_tag("Phones.jpg") %> </a>
<a href=""> <%= image_tag("robots.jpg") %> </a>
<a href=""> <%= image_tag("TV.jpg") %> </a>
